@model DevBlog5.Models.Blog
@using DevBlog5.Services
@inject IImageService _imageService

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Blog</h1>

<h3 class="text-danger">Are you sure you want to delete this blog?</h3>

<div class="card-container">
        <div class="cards">
            <div class="card-Model row row-cols-2">
                <div class="card-image col-md-6 col-12">
                    <img class="img-fluid" width="100" src="@_imageService.DecodeImage(Model.ImageData, Model.ContentType)" />
                </div>
                <div class="card-info col-md-6 col-12">
                    <h2 class="card-title">@Html.DisplayFor(modelModel => Model.Name)</h2>
                    <p class="card-intro">@Html.DisplayFor(modelModel => Model.Description)</p>
                    <p class="card-intro">Id: @Html.DisplayFor(modelModel => Model.Id)</p>
                    <p class="card-intro">Date Created: @Html.DisplayFor(modelModel => Model.Created)</p>
                    <p class="card-intro">Date Updated: @Html.DisplayFor(modelModel => Model.Updated)</p>
                    @*<p class="card-intro">Posted by <a href="">@Model.BlogUsers.FullName</a> on @Model.Created</p>*@
                </div>

            </div>
            <div class="row card-text">
                <div class="col">
                    <h4>Recent Posts</h4>
                    <p>How to seed Data.<span>In this post I will explain a simple way to...</span></p>
                    <p>How to seed Data.<span>In this post I will explain a simple way to...</span></p>
                    <p>How to seed Data.<span>In this post I will explain a simple way to...</span></p>
                </div>
            </div>
        <div class="row card-link">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> &nbsp;&nbsp;
                <a asp-action="Index"><img src="~/assets/images/skip-backward-fill.svg" style="width: 2rem;" /></a>
            </form>
            </div>
        </div>
    </div>


