@model IEnumerable<DevBlog5.Models.Blog>
@using DevBlog5.Models;
@using DevBlog5.Services

@inject IImageService _imageService

@{
    ViewData["Title"] = "Index";
}

<h1>Blogs</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" class="btn btn-actions">Create New</a>
    </p>
}


<div class="card-section">
    @foreach (var item in Model)
    {
        <div class="card-wrapper">
            <div class="card-image">
                <img src="@_imageService.DecodeImage(item.ImageData, item.ContentType)" />
            </div> <!--card iamge-->
            <div class="card-content">
                <div class="card-header">
                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h2>
                    <p class="card-intro">@Html.DisplayFor(modelItem => item.Description)</p>
                </div><!--card header-->
                <div class="card-body recent-posts">
                    <h4>Recent Posts</h4>
                    <ul>
                        @foreach (var item2 in item.Posts.OrderByDescending(p => p.Updated != null).ThenByDescending(p => p.Updated).ThenByDescending(p => p.Created).Take(3))
                        {
                            <li>
                                <a class="" asp-controller="Posts" asp-action="Details" asp-route-slug="@item2.Slug">@item2.Title</a>
                            </li>
                        }
                    </ul>
                </div><!--card body-->
                <div class="card-footer">
                    <a id="routeId" class="btn btn-actions" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@item.Id">Go to @Html.DisplayFor(modelItem => item.Name)</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="row card-actions">
                            <div class="col">
                                <a asp-action="Edit" asp-controller="Blogs" asp-route-id="@item.Id"><img src="~/assets/images/pencil-fill.svg" style="width: 1.5rem;" /></a> &nbsp;&nbsp;
                                <a asp-action="Details" asp-controller="Blogs" asp-route-id="@item.Id"><img src="~/assets/images/eye-fill.svg" style="width: 2rem;" /></a> &nbsp;&nbsp;
                                <a asp-action="Delete" asp-controller="Blogs" asp-route-id="@item.Id"><img src="~/assets/images/trash3-fill.svg" style="width: 1.5rem;" /></a>
                            </div>
                        </div>
                    }
                </div><!--card footer-->
            </div> <!--card content-->
        </div>

        <!--card wrapper-->
    }
</div><!--card section-->
