@model IEnumerable<DevBlog5.Models.Comment>
@using DevBlog5.Services
@inject IImageService _imageService

@{
    ViewData["Title"] = "Home";
}

<h1>Comments</h1>



@foreach (var item in Model)
{
    <div class="card-container">
        <div class="cards">
            <div class="card-item row row-cols-2">

                <div class="comment-image col-2 user-thumbnail">
                    @*<img src="@_imageService.DecodeImage(item.BlogUsers.ImageData, item.BlogUsers.ContentType)" alt="@item.BlogUsers.FullName" class="">*@
                </div>
                <div class="card-info col-md-6 col-12">
                    <h2 class="card-title">Posted By: @Html.DisplayFor(modelItem => item.Posts.BlogUser.FullName)</h2>
                    <p class="card-intro">Post Title: @Html.DisplayFor(modelItem => item.Posts.Title)</p>
                    <p class="card-intro">Post Abstract: @Html.DisplayFor(modelItem => item.Posts.Abstract)</p>
                    <p class="card-intro">Date Created: @Html.DisplayFor(modelItem => item.Created)</p>
                    <p class="card-intro">Date Updated: @Html.DisplayFor(modelItem => item.Updated)</p>
                    <p class="card-intro">Date Deleted:  @Html.DisplayFor(modelItem => item.Deleted)</p>
                </div>
            </div>
            <div class="row card-text">
                <div class="col">
                    <div>
                        @Html.DisplayFor(modelItem => item.Body)
                    </div>
                    <div>
                        <h6>Moderated on @Html.DisplayFor(modelItem => item.Moderated) by @Html.DisplayFor(modelItem => item.Moderator.FullName) for  @Html.DisplayFor(modelItem => item.ModerationType)</h6>
                        <p>@Html.DisplayFor(modelItem => item.ModeratedBody)</p>
                    </div>
               </div>
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <div class="row card-actions">
                    <div class="col">
                        @*<a asp-action="Edit" asp-route-id="@item.Id"><img src="~/assets/images/pencil-fill.svg" style="width: 1.5rem;" /></a> &nbsp;&nbsp;*@
                        @*<a asp-action="Details" asp-route-id="@item.Id"><img src="~/assets/images/eye-fill.svg" style="width: 2rem;" /></a> &nbsp;&nbsp;*@
                        <a class="btn btn-actions" asp-action="Details" asp-controller="Posts" asp-route-slug="@item.Posts.Slug">Go To Post</a> &nbsp;&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/assets/images/trash3-fill.svg" style="width: 1.5rem;" /></a>
                    </div>
                </div>
            }
        </div>
    </div>
}
