@using DevBlog5.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using DevBlog5.Services

@model IPagedList<Blog>
@inject IImageService _imageService

@{
    ViewData["Title"] = "Home Page";
}
<h1>Home Index</h1>

<a asp-controller="Blogs" asp-action="Create" class="btn btn-actions">Create New Blog</a>

@*-----------------------------------------------------------------------------------------

        BLOG CARD                                                           BLOG CARD

-----------------------------------------------------------------------------------------*@

@foreach (var item in Model)
{
    <div class="card-container">
        <div class="cards">
            <div class="card-item row row-cols-2">
                <div class="card-image col-md-6 col-12">
                    <img class="img-fluid" width="100" src="@_imageService.DecodeImage(item.ImageData, item.ContentType)" />
                </div>
                <div class="card-info col-md-6 col-12">
                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h2>
                    <p class="card-intro">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-intro">Id: @Html.DisplayFor(modelItem => item.Id)</p>
                    <p class="card-intro">Date Created: @Html.DisplayFor(modelItem => item.Created)</p>
                    <p class="card-intro">Date Updated: @Html.DisplayFor(modelItem => item.Updated)</p>
                    <p class="card-intro">Posted by <a href="">@item.BlogUsers.FullName</a> on @item.Created</p>
                </div>

            </div>
            <div class="row card-text">
                <div class="col">
                    <h4>Recent Posts</h4>
                    <p>How to seed Data.<span>In this post I will explain a simple way to...</span></p>
                    <p>How to seed Data.<span>In this post I will explain a simple way to...</span></p>
                    <p>How to seed Data.<span>In this post I will explain a simple way to...</span></p>
                </div>
            </div>
            <div class="row card-link">
                <div class="col">
                    <a class="btn btn-actions" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="">Read More...</a>
                </div>
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <div class="row card-actions">
                    <div class="col">
                        <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/assets/images/pencil-fill.svg" style="width: 1.5rem;" /></a> &nbsp;&nbsp;
                        <a asp-action="Details" asp-route-id="@item.Id"><img src="~/assets/images/eye-fill.svg" style="width: 2rem;" /></a> &nbsp;&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/assets/images/trash3-fill.svg" style="width: 1.5rem;" /></a>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="left_content">

    @*pagination controls*@

    <div class="row">
        <div class="col">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
            new PagedListRenderOptionsBase
            {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"}
            });
        </div>
    </div>

@*    <div class="col header_top_right">
        <partial name="_Categories" />
    </div>*@
    @*-----------------------------------------------------------------------------------------

    MAIN FEATURED POST

    -----------------------------------------------------------------------------------------*@
    <div class="slick_slider">
        <div class="single_iteam">
            <a asp-controller="Posts" asp-action="Details" asp-route-id="2"> <img src="assets/images/slider_img4.jpg" alt=""></a>
            <div class="slider_article">
                <h2><a class="slider_tittle" href="pages/single_page.html">First in the list</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui...</p>
            </div>
        </div>
        <div class="single_iteam">
            <a href="pages/single_page.html"> <img src="~/assets/images/slider_img2.jpg" alt=""></a>
            <div class="slider_article">
                <h2><a class="slider_tittle" href="pages/single_page.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui...</p>
            </div>
        </div>
        <div class="single_iteam">
            <a href="pages/single_page.html"> <img src="assets/images/slider_img3.jpg" alt=""></a>
            <div class="slider_article">
                <h2><a class="slider_tittle" href="pages/single_page.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui...</p>
            </div>
        </div>
        <div class="single_iteam">
            <a href="pages/single_page.html"> <img src="assets/images/slider_img1.jpg" alt=""></a>
            <div class="slider_article">
                <h2><a class="slider_tittle" href="pages/single_page.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui...</p>
            </div>
        </div>
    </div>
    @*-----------------------------------------------------------------------------------------

    SINGLE POST - RIGHT   The Blog Project

    -----------------------------------------------------------------------------------------*@
    <div class="single_post_content">
        <h2><span>The Blog Project</span></h2>
        <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
                <li>
                    <figure class="bsbig_fig">
                        <a href="pages/single_page.html" class="featured_img"> <img alt="" src="assets/images/featured_img1.jpg"> <span class="overlay"></span> </a>
                        <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img1.jpg"> </a>
                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img2.jpg"> </a>
                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img1.jpg"> </a>
                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img2.jpg"> </a>
                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="fashion_technology_area">
        <div class="fashion">
            <div class="single_post_content">
                @*-----------------------------------------------------------------------------------------

                SINGLE POST - BOTTOM fashion

                -----------------------------------------------------------------------------------------*@
                <h2><span>Fashion</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                    <li>
                        <figure class="bsbig_fig">
                            <a href="pages/single_page.html" class="featured_img"> <img alt="" src="assets/images/featured_img2.jpg"> <span class="overlay"></span> </a>
                            <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                        </figure>
                    </li>
                </ul>
                <ul class="spost_nav">
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img1.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img2.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img1.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img2.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="technology">
            @*-----------------------------------------------------------------------------------------

            SINGLE POST - BOTTOM  technology

            -----------------------------------------------------------------------------------------*@
            <div class="single_post_content">
                <h2><span>Technology</span></h2>
                <ul class="business_catgnav">
                    <li>
                        <figure class="bsbig_fig wow fadeInDown">
                            <a href="pages/single_page.html" class="featured_img"> <img alt="" src="assets/images/featured_img3.jpg"> <span class="overlay"></span> </a>
                            <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                        </figure>
                    </li>
                </ul>
                <ul class="spost_nav">
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img1.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img2.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img1.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                        </div>
                    </li>
                    <li>
                        <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="assets/images/post_img2.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="single_post_content">
        @*-----------------------------------------------------------------------------------------

        SINGLE POST - CARDS  photography

        -----------------------------------------------------------------------------------------*@
        <h2><span>Photography</span></h2>
        <ul class="photograph_nav  wow fadeInDown">
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/photograph_img2.jpg" title="Photography Ttile 1"> <img src="assets/images/photograph_img2.jpg" alt="" /></a> </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/photograph_img3.jpg" title="Photography Ttile 2"> <img src="assets/images/photograph_img3.jpg" alt="" /> </a> </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/photograph_img4.jpg" title="Photography Ttile 3"> <img src="assets/images/photograph_img4.jpg" alt="" /> </a> </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/photograph_img4.jpg" title="Photography Ttile 4"> <img src="assets/images/photograph_img4.jpg" alt="" /> </a> </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/photograph_img2.jpg" title="Photography Ttile 5"> <img src="assets/images/photograph_img2.jpg" alt="" /> </a> </figure>
                </div>
            </li>
            <li>
                <div class="photo_grid">
                    <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/photograph_img3.jpg" title="Photography Ttile 6"> <img src="assets/images/photograph_img3.jpg" alt="" /> </a> </figure>
                </div>
            </li>
        </ul>
    </div>
</div>