@model DevBlog5.Models.Tag
@using DevBlog5.Services
@using DevBlog5.Models
@using Microsoft.AspNetCore.Identity

@inject IImageService _imageService
@inject UserManager<BlogUser> userManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="tag-detail">
    <div class="tag-detail-wrapper">
        <div class="tag-img">
            <img class="" src="@_imageService.DecodeImage(Model.BlogUsers.ImageData, Model.BlogUsers.ContentType)" />
        </div> <!--card iamge-->
        <div class="card-content">
            <div class="card-header">
                <h3>
                    @Html.DisplayFor(model => model.Text)
                </h3>
            </div><!--card header-->
            <div class="card-body">
            </div><!--card body-->
            <div class="card-footer">

                <a class="btn btn-actions btn-sm" asp-action="Details" asp-controller="Posts" asp-route-slug="@Model.Posts.Slug">
                    @Html.DisplayFor(model => model.Posts.Title)
                    </a>
                @if (User.IsInRole("Administrator"))
                {
                    <div class="row card-actions">
                        <div class="tags">
                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                }
            </div><!--card footer-->
        </div> <!--card content-->
    </div><!--card wrapper-->
</div><!--card section-->

@*<div>
    <h4>Tag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Posts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posts.Abstract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogUsers.Id)
        </dd>
    </dl>
</div>
<div class="tags">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
