@using DevBlog5.Services
@using DevBlog5.Models
@using DevBlog5.Helpers
@model IPagedList<DevBlog5.Models.Post>
@inject IImageService _imageService
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@{
    ViewData["Title"] = @ViewData["BlogName"];
    var blogId = ViewData["BlogId"];

    var imageData = ViewData["BlogImageData"] as byte[];
    var contentType = ViewData["BlogImageType"] as string;
}

<h3>
    <img src="@_imageService.DecodeImage(imageData, contentType)" style="width:60px;height:60px;margin-right:1rem;pointer-events:none;" />
    @ViewData["BlogName"] Category
    <br />
</h3>



<div class="card-section">
    @foreach (var item in Model)
    {
        <div class="card-wrapper">
            <div class="card-image">
                <img src="@_imageService.DecodeImage(item.ImageData, item.ContentType)" />
            </div> <!--card iamge-->
            <div class="card-content">
                <div class="card-header">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.Abstract)
                        <br /><br />Date Created: @Html.DisplayFor(modelItem => item.Created)
                        <br />Date Updated: @Html.DisplayFor(modelItem => item.Updated)
                        <br />Posted by @item.BlogUser.FullName
                    </p>
                </div><!--card header-->
                <div class="card-body">
                    @if (@item.Content.Length > 200)
                    {
                        <p>
                            @Html.Raw(HtmlSubstring.RemoveHtml(item.Content, 200))
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.Raw(@item.Content)
                        </p>
                    }
                </div><!--card body-->
                <div class="card-footer">
                    <a class="btn btn-actions btn-sm" asp-action="Details" asp-route-slug="@item.Slug">Read More</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="row card-actions">
                            <div class="col">
                                <a asp-action="Edit" asp-route-slug="@item.Slug"><img src="~/assets/images/pencil-fill.svg" style="width: 1.5rem;" /></a> &nbsp;&nbsp;
                                <a asp-action="Details" asp-route-slug="@item.Slug"><img src="~/assets/images/eye-fill.svg" style="width: 2rem;" /></a> &nbsp;&nbsp;
                                <a asp-action="Delete" asp-route-slug="@item.Slug"><img src="~/assets/images/trash3-fill.svg" style="width: 1.5rem;" /></a>
                            </div>
                        </div>
                    }
                </div><!--card footer-->
            </div> <!--card content-->
        </div>

        <!--card wrapper-->
    }
</div><!--card section-->
<hr />
@*pagination controls*@
<div class="pagination">
    <div class="row">
        <div class="col">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.PagedListPager(Model, page => Url.Action("BlogPostIndex", new {id = Model.FirstOrDefault().BlogId, page = page}),
            new PagedListRenderOptionsBase
            {
            LiElementClasses = new string[] {"page-item"},
            PageClasses = new string[] {"page-link"}
            })
        </div>
    </div>
</div>

<div style="margin-bottom:2rem;">
    <a onclick="javascript:history.back()"><img src="~/assets/images/skip-backward-fill.svg" style="width: 2rem;" /></a>
</div>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a id="link" asp-action="Create" class="btn btn-actions" asp-route-id="@ViewData["BlogId"]" asp-route-blogName="@ViewData["BlogName"]">
            Create New Post for @ViewData["BlogName"] Category
        </a>
        <br>BlogId: @ViewData["BlogId"]<br />
        <br>Page: @Model.PageNumber
    </p>
}
@section Scripts{

    <script>
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $("#myModalSuccess").modal("show");
        }

        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);

        });
    </script>
    }
