@using DevBlog5.Enums
@using DevBlog5.Models
@using DevBlog5.Services
@using DevBlog5.ViewModels
@using Microsoft.AspNetCore.Identity

@inject IImageService imageService
@inject UserManager<BlogUser> userManager
@model PostDetailViewModel

<div class="post-detail col-8">

    @****************************************************************
    SYSTEM TAGS
    *****************************************************************@
    <article>
        <div class="row">
            <div class="post-img">
                <img src="@imageService.DecodeImage(Model.Post.ImageData, Model.Post.ContentType)" />
            </div>
            <div class="col-4 border-right">
                <h1>@Html.Raw(Model.Post.Title)</h1>
            </div>
            <div class="col-4 border-right">
                <h4>@Html.Raw(Model.Post.Abstract)</h4>
            </div>
            <div class="col-4 border-right">
                <p>@Html.Raw(Model.Post.Content)</p>
            </div>
        </div>
    </article>

    <article>
        <hr />
        <h3 class="font-weight-bold">Tags</h3>
        <div class="col post-tag-list">
            @foreach (var tag in Model.Post.Tags.ToList())
            {
                <a asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()" class="mb-1">#@tag.Text</a>
            }
        </div>
        <hr />
    </article>


    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="Create" asp-controller="Comments" method="post">
                @Html.Hidden("PostId", Model.Post.Id)
                @Html.Hidden("Slug", Model.Post.Slug)

                <div class="form-group">
                    <label class="h2 control-label font-weight-bold">Add Comment</label>
                    <textarea name="body" class="form-control" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-actions btn-block btn-sm">Submit</button>
            </form>
        }
        else
        {
            <a class="btn btn-actions" asp-area="Identity" asp-page="/Account/Login">
                Login to add comments
            </a>
        }

        <br />
        <hr class="card-hr" />
        <br />
        <h2>Comments</h2>
        <a id="commentSection" class="btn btn-sm btn-dark btn-block mb-2">@Model.Post.Comments.Count COMMENT(S)</a>
        @****************************************************************
        CARDS
        *****************************************************************@
        @foreach (var comment in Model.Post.Comments.OrderByDescending(c => c.Created))
        {
            <div class="card-container">
                <div class="cards">
                    <div class="comment-item row row-cols-2">
                        <div class="comment-image col-2 user-thumbnail">
                            <img src="@imageService.DecodeImage(comment.BlogUsers.ImageData, comment.BlogUsers.ContentType)" alt="@comment.BlogUsers.FullName" class="">
                        </div>
                        <div class="card-info col-10">
                            <h4>Posted By: @comment.BlogUsers.FullName</h4>

                            @****************************************************************
                        SECTION 1: POST ON OR UPDATED ON
                        *****************************************************************@
                            @if (comment.Deleted is not null)
                            {
                                <span class="small">
                                    <span class="font-weight-bolder">Deleted</span> : @comment.Deleted?.ToString("MMM dd, yyyy")
                                </span>
                            }
                            else if (comment.Moderated is not null)
                            {
                                <span class="small">
                                    <span class="font-weight-bolder">
                                        Moderated <span class="text-danger font-italic">(@comment.ModerationType.ToString().ToLower())</span>
                                    </span>
                                    : @comment.Moderated?.ToString("MMM dd, yyyy")
                                </span>
                            }
                            else if (comment.Updated is not null)
                            {
                                <span class="small">
                                    <span class="font-weight-bolder">Updated </span> : @comment.Updated?.ToString("MMM dd, yyyy")
                                </span>
                            }
                            else
                            {
                                <span class="small">
                                    <span class="font-weight-bolder">Created </span> : @comment.Created.ToString("MMM dd, yyyy")
                                </span>
                            }

                        </div>

                    </div>
                    <div class="row card-text">
                        <div class="col">

                            <hr>
                            @*****************************************************************
                        SECTION 2: POST HAS BEEN MODERATED/DELETED
                        *****************************************************************@

                            @if (comment.Deleted is not null)
                            {
                                <span class="small font-italic">The comment posted on @comment.Created.ToString("MMM dd, yyyy") by @comment.BlogUsers.FullName was deleted by the Moderator...</span>
                            }
                            else if (comment.Moderated is not null)
                            {
                                <span class="small font-italic">The comment posted on @comment.Created.ToString("MMM dd, yyyy") by @comment.BlogUsers.FullName has been Moderated...</span>
                            }


                            @*****************************************************************
                        SECTION 2B: Render main body if not moderated or deleted
                        *****************************************************************@
                            @if (string.IsNullOrEmpty(comment.Body))
                            {
                                <span class="small font-italic">Comment not available...</span>
                            }
                            else if (comment.Moderated is not null)
                            {
                                @comment.ModeratedBody
                            }
                            else if (comment.Deleted is null)
                            {
                                @comment.Body
                            }

                            @****************************************************************
                        SECTION 3: CAN WE RENDER THE EDIT BUTTON
                        *****************************************************************@
                            @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
                            {
                                <hr class="hr-b">
                                <button data-toggle="modal" data-target="#editModal" class="btn-sm btn-actions float-right font-weight-bold">EDIT</button>
                            }

                            @****************************************************************
                        SECTION 4: CAN WE RENDER THE MODERATE AND DELETE BUTTONS
                        *****************************************************************@
                            @if ((User.IsInRole(BlogRole.Moderator.ToString()) || User.IsInRole(BlogRole.Administrator.ToString())) && comment.Deleted is null)
                            {

                                <button class="btn-sm btn-actions font-weight-bold" data-toggle="modal" data-target="#moderate">MODERATE</button>

                                <form id="deleteComment" asp-action="Delete" asp-controller="Comments">
                                    @Html.Hidden("CommentId", comment.Id)
                                    @Html.Hidden("Slug", comment.Posts.Slug)
                                    <button class="btn-sm btn-actions font-weight-bold">DELETE</button>
                                </form>


                                @*Modals*@
                                <div class="modal" id="editModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Editing Comment...</h4>

                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form asp-action="Edit" asp-controller="Comments">
                                                    @Html.Hidden("Id", comment.Id)

                                                    <div class="form-group">
                                                        <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                                                    </div>

                                                    <button class="btn-sm btn-actions border-success font-weight-bold" type="submit">SUBMIT</button>
                                                <button type="button" class="btn-sm btn-actions font-weight-bold" data-dismiss="modal">CLOSE</button>
                                                </form>
                                            </div>
                                            <!-- Modal footer none -->
                                        </div>
                                    </div>
                                </div>

                                <div class="modal" id="moderate">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Moderating Comment...</h4>

                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form asp-action="Moderate" asp-controller="Comments">
                                                    @Html.Hidden("Id", comment.Id)
                                                    @Html.Hidden("Body", comment.Body)

                                                    <div class="form-group">
                                                        <label class="control-label">Original Comment</label>
                                                        <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Moderated Comment</label>
                                                        <textarea required name="ModeratedBody" class="form-control">@comment.ModeratedBody</textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Reason For Moderation</label>
                                                        <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col">
                                                                <button class="btn-sm btn-actions border-success font-weight-bold" type="submit">SUBMIT</button>
                                                                <button class="btn-sm btn-actions font-weight-bold" type="button" data-dismiss="modal">CLOSE</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @*Modals*@
                            <div class="modal" id="editModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Editing Comment...</h4>

                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form asp-action="Edit" asp-controller="Comments">
                                                @Html.Hidden("Id", comment.Id)

                                                <div class="form-group">
                                                    <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                                                </div>

                                                <button class="btn-sm btn-actions border-success font-weight-bold" type="submit">SUBMIT</button>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-sm btn-actions font-weight-bold" data-dismiss="modal">CLOSE</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal" id="moderate">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Moderating Comment...</h4>

                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form asp-action="Moderate" asp-controller="Comments">
                                                @Html.Hidden("Id", comment.Id)
                                                @Html.Hidden("Body", comment.Body)

                                                <div class="form-group">
                                                    <label class="control-label">Original Comment</label>
                                                    <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Moderated Comment</label>
                                                    <textarea required name="ModeratedBody" class="form-control">@comment.ModeratedBody</textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Reason For Moderation</label>
                                                    <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col">
                                                            <button class="btn-sm btn-block btn-actions border-success font-weight-bold" type="submit">SUBMIT</button>
                                                        </div>
                                                        <div class="col">
                                                            <button class="btn-sm btn-block btn-actions font-weight-bold" type="button" data-dismiss="modal">CLOSE</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }


        <div>
            <a asp-action="Edit" asp-route-slug="@Model.Post.Slug">Edit</a> |
            @*<a id="createRoute" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="">Back to List</a>*@
            @*// pass id into the back to list route*@
            <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@ViewData["BlogId"]">Back to List</a>
        </div>

        <!-- bottom section -->
        <div class="social_link">
            <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
        <div class="related_post">
            <h2>Related Posts <i class="fa fa-thumbs-o-up"></i></h2>
            <ul class="spost_nav wow fadeInDown animated">
                <li>
                    <div class="media">
                        <a class="media-left" href="single_page.html"> <img src="~/assets/images/post_img1.jpg" alt=""> </a>
                        <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a class="media-left" href="single_page.html"> <img src="~/assets/images/post_img2.jpg" alt=""> </a>
                        <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a class="media-left" href="single_page.html"> <img src="~/assets/images/post_img1.jpg" alt=""> </a>
                        <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<nav class="nav-slit">
    <a class="prev" href="#">
        <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
            <h3>City Lights</h3>
            <img src="~/assets/images/post_img1.jpg" alt="" />
        </div>
    </a> <a class="next" href="#">
        <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
            <h3>Street Hills</h3>
            <img src="~/assets/images/post_img1.jpg" alt="" />
        </div>
    </a>
</nav>

@section Scripts{
    <script>
    </script>
}