@using DevBlog5.Models
@model IEnumerable<DevBlog5.Models.Post>
@using DevBlog5.Services
@inject IImageService _imageService
@using DevBlog5.Helpers
@using DevBlog5.Enums

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>
<div style="margin-bottom:1rem;">
    <form asp-action="IndexFilter" asp-controller="Posts">
        <div class="input-group  d-flex flex-md-row">
            @*<label class="form-label me-2">Filter by Category:</label>*@
            <select name="readyStatus" asp-items="@ViewBag.ReadyStatus" class="form-select w-50"
                    onchange="this.form.submit()" onfocus="this.selectedIndex=-1;">
                <option value="" selected disabled hidden>Filter By Status</option>
            </select>
        </div>
    </form>
</div>

<h3>@ViewData["RS"]</h3>
@if (Model.Count() == 0)
{
        <h3>No Posts found</h3>
}

<div class="card-section">
    @foreach (var item in Model)
    {
        <div class="card-wrapper">
            <div class="card-image">
                <img src="@_imageService.DecodeImage(item.ImageData, item.ContentType)" />
            </div> <!--card iamge-->
            <div class="card-content">
                <div class="card-header">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.Abstract)
                        <br />Blog Name: @Html.DisplayFor(modelItem => item.Blog.Name); Blog Id: @Html.DisplayFor(modelItem => item.BlogId)
                        <br /><br />Date Created: @Html.DisplayFor(modelItem => item.Created)
                        <br />Date Updated: @Html.DisplayFor(modelItem => item.Updated)
                        <br />Status: @Html.DisplayFor(modelItem => item.ReadyStatus)
                        <br />Posted by @item.BlogUser.FullName
                    </p>
                </div><!--card header-->
                <div class="card-body">
                    @if (@item.Content.Length > 200)
                    {
                        <p>
                            @Html.Raw(HtmlSubstring.RemoveHtml(item.Content, 200))
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.Raw(@item.Content)
                        </p>
                    }
                </div><!--card body-->
                <div class="card-footer">
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="row card-actions">
                            <div class="col">
                                <a asp-action="Edit" asp-route-slug="@item.Slug"><img src="~/assets/images/pencil-fill.svg" style="width: 1.5rem;" /></a> &nbsp;&nbsp;
                                <a asp-action="Details" asp-route-slug="@item.Slug"><img src="~/assets/images/eye-fill.svg" style="width: 2rem;" /></a> &nbsp;&nbsp;
                                <a asp-action="Delete" asp-route-slug="@item.Slug"><img src="~/assets/images/trash3-fill.svg" style="width: 1.5rem;" /></a>
                            </div>
                        </div>
                    }
                </div><!--card footer-->
            </div> <!--card content-->
        </div>

        <!--card wrapper-->
    }
</div><!--card section-->
