@using DevBlog5.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@*@model IPagedList<Blog>*@
@model IPagedList<DevBlog5.Models.Post>




<h2>
    Page Not Found
</h2>
<br />
<div style="width: 60%">
    <h4>The page you were looking for was not found.</h4>
    <br />

    <div>
        <a class="btn btn-actions" class="nav-link" onclick="javascript:history.back()">Go Back</a>
    </div>
</div>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a id="createRoute" asp-action="Create" class="btn btn-actions" asp-route-id="@ViewData["BlogId"]">Create New</a>
        @*<a asp-action="CreateSpecificBlogPost" asp-route-id="@ViewData["BlogId"]">Create New</a>*@
    </p>
}

@if (User.IsInRole("Administrator"))
{
    <p>
        <a id="link" asp-action="Create" class="btn btn-actions" asp-route-id="@ViewData["BlogId"]" asp-route-blogName="@ViewData["BlogName"]">Create New Post for @ViewData["BlogName"] Blog</a>

        <br>BlogId: @ViewData["BlogId"]<br />
        <br>Page: @Model.PageNumber
        @*<a asp-action="CreateSpecificBlogPost" asp-route-id="@ViewData["BlogId"]">Create New</a>*@
    </p>
}