@using DevBlog5.Models
@using DevBlog5.Services
@using DevBlog5.Enums
@using DevBlog5.Helpers
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using DevBlog5.Services
@inject IImageService _imageService


@inject IImageService imageService

@model IPagedList<Post>


<div class="card-section">
    @foreach (var item in Model)
    {
        <div class="card-wrapper">
            <div class="card-image">
                <img src="@_imageService.DecodeImage(item.ImageData, item.ContentType)" />
            </div> <!--card iamge-->
            <div class="card-content">
                <div class="card-header">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.Abstract)
                        <br /><br />Date Created: @Html.DisplayFor(modelItem => item.Created)
                        <br />Date Updated: @Html.DisplayFor(modelItem => item.Updated)
                        <br />Posted by @item.BlogUser.FullName
                    </p>
                </div><!--card header-->
                <div class="card-body">
                    @if (@item.Content.Length > 200)
                    {
                        <p>
                            @Html.Raw(HtmlSubstring.RemoveHtml(item.Content, 200))
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.Raw(@item.Content)
                        </p>
                    }
                </div><!--card body-->
                <div class="card-footer">
                    <a class="btn btn-actions btn-sm" asp-action="Details" asp-route-slug="@item.Slug">Read More</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="row card-actions">
                            <div class="col">
                                <a asp-action="Edit" asp-route-slug="@item.Slug"><img src="~/assets/images/pencil-fill.svg" style="width: 1.5rem;" /></a> &nbsp;&nbsp;
                                <a asp-action="Details" asp-route-slug="@item.Slug"><img src="~/assets/images/eye-fill.svg" style="width: 2rem;" /></a> &nbsp;&nbsp;
                                <a asp-action="Delete" asp-route-slug="@item.Slug"><img src="~/assets/images/trash3-fill.svg" style="width: 1.5rem;" /></a>
                            </div>
                        </div>
                    }
                </div><!--card footer-->
            </div> <!--card content-->
        </div>

        <!--card wrapper-->
    }
</div><!--card section-->


<div>
    <a onclick="javascript:history.back()"><img src="~/assets/images/skip-backward-fill.svg" style="width:2rem;margin-top:1rem;" /></a>
</div>
<hr />

<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>
<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("SearchIndex", new { page = page, searchTerm = ViewData["SearchTerm"] }),
        new PagedListRenderOptionsBase
        {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
        })
    </div>
</div>